[Desktop Entry]
Name=TurtleArt
Name[nb]=Skilpaddekunst
Name[es]=TortugArte
GenericName=Sugar TurtleArt activity
GenericName[nb]=Sugar Skilpaddekunst-aktivitet
GenericName[es]=Actividad Sugar TortugArte
TryExec=turtleart
Exec=/usr/share/sugar/activities/turtleart
Icon=turtleart
Type=Application
Comment=A Logo programming environment
Comment[nb]=Et miljø for Logo-programmering
Comment[es]=Un entorno de programación Logo
Terminal=false
StartupNotify=true
Categories=Education;Art;
