[Desktop Entry]
Name=TurtleBlocks
Name[nb]=Skilpaddekunst
Name[es]=TortugArte
GenericName=Sugar TurtleBlocks activity
GenericName[nb]=Sugar Skilpaddekunst-aktivitet
GenericName[es]=Actividad Sugar TortugArte
TryExec=/usr/share/sugar/activities/TurtleArt.activity/turtleblocks.py
Exec=/usr/share/sugar/activities/TurtleArt.activity/turtleblocks.py
Icon=turtleart
Type=Application
Comment=A Logo programming environment
Comment[nb]=Et miljø for Logo-programmering
Comment[es]=Un entorno de programación Logo
Terminal=false
StartupNotify=true
Categories=Education;Art;
