Source: pyalsaaudio
Section: sound
Priority: optional
Maintainer: Ubuntu MOTU Developers <ubuntu-motu@lists.ubuntu.com>
XSBC-Original-Maintainer: Florian Ragwitz <rafl@debian.org>
Uploaders: Paul Brossier <piem@debian.org>
Build-Depends: debhelper (>= 5.0.37.2), python-all-dev (>= 2.3.5-11), python-support (>= 0.3), libasound2-dev
XS-Python-Version: all
Standards-Version: 3.7.2

Package: python-alsaaudio
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends}
XB-Python-Version: ${python:Versions}
Description: Alsa bindings for Python
 The PyAlsaAudio package contains bindings for the ALSA sound api.
